html {
    display: flex;
    align-items: center
}
body {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: #3A4751;
    width: 100%
}
html, #root {
    width: 100%;
    height: 100%;
    direction: rtl
}
body, a, p, h1, h2, h3, h4, h5, span {
    font-family: Yekan
}
#root {
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    box-sizing: border-box
}
a {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    html {
        align-items: flex-start;
    }
    body {
        margin-bottom: 50px
    }
}