i.rmwc-icon.material-icons.mdc-list-item__graphic {
    margin-right: unset;
    margin-left: 24px;
}
i.mdc-list-item__meta {
    margin-right: auto;
    margin-left: 0;
}
.rmwc-icon {
    display: block;
}