.exersices-card-container {
    width: 60%;
    display: flex;
    padding: 15px;
}
.exersices-container button {
    min-width: 80%;
}
.exersices-container a {
    color: white;
    text-decoration: none;
    letter-spacing: 0
}
@media screen and (max-width:600px) {
    .exersices-card-container {
        width: 90%;
        display: flex;
        padding: 15px;
    }
}