@font-face {
	font-family: 'Yekan';
	src: url('./Vazir.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'),
	  local('MaterialIcons-Regular'),
	  url('./MaterialIcons-Regular.woff2') format('woff2')
}