.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-content: center
}

.footer i {
    font-size: 40px;
    color: white
}

.footer a {
    padding: 10px
}
@media screen and (max-width: 600px) {
    .footer {
        background-color: #6200ee;
        box-shadow: 0 0 20px -10px black
    }
}