.ag-row {
 display: flex;
 flex-wrap: wrap;
 flex-grow: 0;
 flex-shrink: 0;
 box-sizing: border-box;
 flex-basis: 100%;
 flex-direction: row;
}
.ag-col {
    position: relative;
    display: block;
}

/* gutter classes */
.ag-row-gutter-8 > div {
    padding: 8px
}
.ag-row-gutter-16 > div {
    padding: 16px
}
.ag-row-gutter-24 > div {
    padding: 24px
}
.ag-row-gutter-36 > div {
    padding: 36px
}

/* justify classes */
.ag-row-justify-start {
    justify-content: flex-start;
}
.ag-row-justify-end {
    justify-content: flex-end;
}
.ag-row-justify-center {
    justify-content: center;
}
.ag-row-justify-space-between {
    justify-content: space-between;
}
.ag-row-justify-space-around {
    justify-content: space-around;
}
.ag-row-justify-space-evenly {
    justify-content: space-evenly;
}

/* align classes */
.ag-row-align-start {
    align-items: flex-start;
}
.ag-row-align-end {
    align-items: flex-end;
}
.ag-row-align-center {
    align-items: center;
}

.ag-row-striped {
    background-color: #eee
}

/* direction classes */
.ag-row-direction-column {
    flex-direction: column;
}
.ag-row-direction-row {
    flex-direction: row;
}
/* extra small screen size classes */
.ag-col-xs-auto {
    flex: 1 0 0px;
    max-width: 100%;
}
.ag-col-xs-1 {
    flex: 0 0 8.3%;
    max-width: 8.3%;
}
.ag-col-xs-2 {
    flex: 0 0 16.6%;
    max-width: 16.6%;
}
.ag-col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%
}
.ag-col-xs-4 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
}
.ag-col-xs-5 {
    flex: 0 0 41.6%;
    max-width: 41.6%;
}
.ag-col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.ag-col-xs-7 {
    flex: 0 0 58.3%;
    max-width: 58.3%;
}
.ag-col-xs-8 {
    flex: 0 0 66.6%;
    max-width: 66.6%;
}
.ag-col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.ag-col-xs-10 {
    flex: 0 0 83.3%;
    max-width: 83.3%;
}
.ag-col-xs-11 {
    flex: 0 0 91.6%;
    max-width: 91.6%;
}
.ag-col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* small screen size classes */
@media only screen and (min-width: 600px) {
    .ag-col-sm-auto {
        flex: 1 0 0px;
        max-width: 100%;
    }
    .ag-col-sm-1 {
        flex: 0 0 8.3%;
        max-width: 8.3%;
    }
    .ag-col-sm-2 {
        flex: 0 0 16.6%;
        max-width: 16.6%;
    }
    .ag-col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .ag-col-sm-4 {
        flex: 0 0 33.3%;
        max-width: 33.3%;
    }
    .ag-col-sm-5 {
        flex: 0 0 41.6%;
        max-width: 41.6%;
    }
    .ag-col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .ag-col-sm-7 {
        flex: 0 0 58.3%;
        max-width: 58.3%;
    }
    .ag-col-sm-8 {
        flex: 0 0 66.6%;
        max-width: 66.6%;
    }
    .ag-col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .ag-col-sm-10 {
        flex: 0 0 83.3%;
        max-width: 83.3%;
    }
    .ag-col-sm-11 {
        flex: 0 0 91.6%;
        max-width: 91.6%;
    }
    .ag-col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* medium screen size classes */
@media only screen and (min-width: 960px) {
    .ag-col-md-auto {
        flex: 1 0 0px;
        max-width: 100%;
    }
    .agcol-md-1 {
        flex: 0 0 8.3%;
        max-width: 8.3%;
    }
    .ag-col-md-2 {
        flex: 0 0 16.6%;
        max-width: 16.6%;
    }
    .ag-col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .ag-col-md-4 {
        flex: 0 0 33.3%;
        max-width: 33.3%;
    }
    .ag-col-md-5 {
        flex: 0 0 41.6%;
        max-width: 41.6%;
    }
    .ag-col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .ag-col-md-7 {
        flex: 0 0 58.3%;
        max-width: 58.3%;
    }
    .ag-col-md-8 {
        flex: 0 0 66.6%;
        max-width: 66.6%;
    }
    .ag-col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .ag-col-md-10 {
        flex: 0 0 83.3%;
        max-width: 83.3%;
    }
    .ag-col-md-11 {
        flex: 0 0 91.6%;
        max-width: 91.6%;
    }
    .ag-col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* large screen size classes */
@media only screen and (min-width: 1280px) {
    .ag-col-lg-auto {
        flex: 1 0 0px;
        max-width: 100%;
    }
    .ag-col-lg-1 {
        flex: 0 0 8.3%;
        max-width: 8.3%;
    }
    .ag-col-lg-2 {
        flex: 0 0 16.6%;
        max-width: 16.6%;
    }
    .ag-col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .ag-col-lg-4 {
        flex: 0 0 33.3%;
        max-width: 33.3%;
    }
    .ag-col-lg-5 {
        flex: 0 0 41.6%;
        max-width: 41.6%;
    }
    .ag-col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .ag-col-lg-7 {
        flex: 0 0 58.3%;
        max-width: 58.3%;
    }
    .ag-col-lg-8 {
        flex: 0 0 66.6%;
        max-width: 66.6%;
    }
    .ag-col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .ag-col-lg-10 {
        flex: 0 0 83.3%;
        max-width: 83.3%;
    }
    .ag-col-lg-11 {
        flex: 0 0 91.6%;
        max-width: 91.6%;
    }
    .ag-col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* extra large screen size classes */
@media only screen and (min-width: 1920px) {
    .ag-col-xl-auto {
        flex: 1 0 0px;
        max-width: 100%;
    }
    .ag-col-xl-1 {
        flex: 0 0 8.3%;
        max-width: 8.3%;
    }
    .ag-col-xl-2 {
        flex: 0 0 16.6%;
        max-width: 16.6%;
    }
    .ag-col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .ag-col-xl-4 {
        flex: 0 0 33.3%;
        max-width: 33.3%;
    }
    .ag-col-xl-5 {
        flex: 0 0 41.6%;
        max-width: 41.6%;
    }
    .ag-col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .ag-col-xl-7 {
        flex: 0 0 58.3%;
        max-width: 58.3%;
    }
    .ag-col-xl-8 {
        flex: 0 0 66.6%;
        max-width: 66.6%;
    }
    .ag-col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .ag-col-xl-10 {
        flex: 0 0 83.3%;
        max-width: 83.3%;
    }
    .ag-col-xl-11 {
        flex: 0 0 91.6%;
        max-width: 91.6%;
    }
    .ag-col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}